{% extends 'base.html.twig' %}

{% block title %}Accuiel{% endblock %}

{% block body %}


    <div>
        <h1>Russe pour les bilingues et pour les étrangers</h1>
    </div>
    <hr>
    <div class="containerRow">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('images/apropos/musee1_edited_edited.jpg') }}" style="width: 100%" alt="">
            </div>

            <div class="col-md-6" style="border-bottom: 1px; color: black; font-size: 20px;">
                <p>QUI SOMMES NOUS...
                    Les ateliers créatifs En mode bilingue ont débuté leurs travaux en septembre 2018.

                    Notre objectif principal est de développer chez les enfants un intérêt pour la communication et l'apprentissage de la LANGUE RUSSE, de créer une atmosphère créative remplie d'INTÉRÊT MUTUEL des enfants et des enseignants, où l'enfant pourrait S'OUVRIR et se sentir LIBRE.

                    La langue russe est un moyen de connaître le monde qui nous entoure, et donc nous observons

                    on discute et, ce qui est très important, on fantasme en russe.
                </p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row">

        <div class="col-md-6" style="border-bottom: 1px; color: black; font-size: 20px;">
            <p> Nous travaillons avec des enfants à partir de 2 ans. Avec nous, ils pratiquent le théâtre, la musique, la danse, le dessin, mènent des expériences scientifiques, étudient la littérature russe et tournent des reportages en russe. Dès l'âge de 5 ans, les enfants commencent à apprendre à LIRE et à ECRIRE, mais l'accent est mis sur la Parole Orale. A partir de 8-9 ans, selon le niveau de formation de l'enfant, un cours supplémentaire d'étude approfondie de la LANGUE RUSSE ÉCRITE est introduit.

                Par expérience, se retrouvant dans un environnement créatif et ludique, même les enfants qui refusent généralement de parler russe commencent à passer assez rapidement au russe.

                En plus des enseignants permanents, nous invitons des PROFESSIONNELS travaillant dans divers domaines de la science et de l'art à parler aux étudiants de leur travail.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('images/apropos/dima_02.jpg') }}" style="width: 100%" alt="">
        </div>
    </div>


{% endblock %}